language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer require satooshi/php-coveralls:~0.6 --prefer-source --no-interaction --dev

script: phpunit -c phpunit.xml --coverage-text

after_script:
  - php vendor/bin/coveralls -v

matrix:
  allow_failures:
    - php: hhvm
  fash_finish: true
